@using Hospital_System.Models.DTOs.Patient;
@model PatientDTO

@{
    List<MedicalReport> medicalReport = ViewBag.description;
}

<style>
    body {
        background: rgb(99, 39, 120);
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none;
    }

        .profile-button:hover {
            background: #682773;
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none;
        }

    .back:hover {
        color: #682773;
        cursor: pointer;
    }

    .labels {
        font-size: 11px;
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8;
    }
</style>

<script src="https://kit.fontawesome.com/2844f80f7d.js" crossorigin="anonymous"></script>



<div class="container rounded bg-white mt-5 mb-5 justify-content-evenly">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">@Model.FirstName @Model.LastName</span>@*<span class="text-black-50"></span><span> </span>*@</div>
        </div>
        <div class="col-md-5 border-right">


            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4> <i class="fa-solid fa-pen-to-square" id="edit-patient-profile-icon" style="cursor:pointer;"></i>
                </div>
                <form method="post" asp-controller="Dashboards" asp-action="UpdatePatient">
                    <input asp-for="@Model.Id" hidden />
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">First Name</label><input asp-for="FirstName" type="text" class="form-control editablePatient" value="@Model.FirstName" readonly></div>
                        <div class="col-md-6"><label class="labels">Last Name</label><input asp-for="LastName" type="text" class="form-control editablePatient" value="@Model.LastName" readonly></div>
                    </div>
                    <div class="row mt-3">

                        <div class="col-md-12"><label class="labels">Mobile Number</label><input asp-for="ContactNumber" type="text" class="form-control editablePatient" value="@Model.ContactNumber" readonly></div>
                        <div class="col-md-12">
                            <label class="labels">Address Line 1</label>

                            <input asp-for="@Model.Address" type="text" class="form-control editablePatient" placeholder="enter address line 1" value="@Model.Address" readonly>
                        </div>

                        <div class="col-md-12"><label class="labels">Gender</label><input asp-for="Gender" type="text" class="form-control editablePatient" value="@Model.Gender" readonly></div>
                        <div class="col-md-12"><label class="labels">Date of Birth</label><input asp-for="DoB" type="datetime" class="form-control editablePatient" value="@Model.DoB" readonly></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Room Number</label><input asp-for="RoomId" type="text" class="form-control" value="@(Model.Rooms==null?"Patient has no Room":Model.Rooms.RoomNumber)" readonly></div>
                        <div class="col-md-6"><label class="labels">Department</label><input type="text" class="form-control" value="@(Model.Rooms?.department?.DepartmentName)" readonly></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" id="save-patient-profile-button" type="submit" hidden>Save Profile</button></div>
                </form>

            </div>






        </div>



            <div class="col-md-4">
                <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Medical report</span><a class="border px-3 p-1 add-experience" asp-controller="Auth" asp-action="PatientMedicalReport" asp-route-id="@Model.Id">Medical report</a></div><br>
                <div class="col-md-12"><label class="labels">Descriptions</label><input type="text" class="form-control" value="@(medicalReport.Select(x=>x.Description).LastOrDefault())" style="height:300px;" readonly></div> <br>
                <div class="col-md-12"><label class="labels">Doctor Name</label><input type="text" class="form-control" value="@(medicalReport.Select(f=>f.doctor?.FirstName).LastOrDefault()) @(medicalReport.Select(f=>f.doctor?.LastName).LastOrDefault())" readonly></div>
                </div>
            </div>

    </div>
</div>


<script>
    document.getElementById('edit-patient-profile-icon').addEventListener('click', function () {
        // Enable editing for all input elements
        const inputs = document.querySelectorAll('.editablePatient');
        for (const input of inputs) {
            input.removeAttribute('readonly');
        }

        // Show the "Save Profile" button
        document.getElementById('save-patient-profile-button').removeAttribute('hidden');
    });

</script>




