@using Hospital_System.Auth.Models.DTO;
@using Hospital_System.Models.DTOs.Patient;
@using Hospital_System.Models.DTOs;
@model UserDTO


@{
    PatientDTO patient = ViewBag.Pateint;
    DoctorDTO doctor = ViewBag.Doctor;
    PatientDTO user1 = patient;
    DoctorDTO user2 = doctor;
}
    <style>
        body {
            background: rgb(99, 39, 120);
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #BA68C8
        }

        .profile-button {
            background: rgb(99, 39, 120);
            box-shadow: none;
            border: none;
        }

            .profile-button:hover {
                background: #682773;
            }

            .profile-button:focus {
                background: #682773;
                box-shadow: none
            }

            .profile-button:active {
                background: #682773;
                box-shadow: none;
            }

        .back:hover {
            color: #682773;
            cursor: pointer;
        }

        .labels {
            font-size: 11px;
        }

        .add-experience:hover {
            background: #BA68C8;
            color: #fff;
            cursor: pointer;
            border: solid 1px #BA68C8;
        }
    </style>





<div class="container rounded bg-white mt-5 mb-5 justify-content-evenly">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">@Model.Username</span><span class="text-black-50">@Model.Email</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">First Name</label><input type="text" class="form-control" placeholder="first name" value="@(user1?.FirstName==null?user2.FirstName:user1.FirstName)" readonly></div>
                    <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control" placeholder="LastName" value="@(user1?.LastName==null?user2.LastName:user1.LastName)" readonly></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value="@(user1?.ContactNumber==null?user2.ContactNumber:user1.ContactNumber)" readonly></div>
                    <div class="col-md-12">
                    @if(user1!=null)
                    {
                        <label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address line 1" value="@user1.Address" readonly> 
                    }
                    else
                    {
                        <label class="labels">Speciality</label><input type="text" class="form-control" placeholder="enter address line 1" value="@user2.Speciality" readonly>
                    }
                    </div>

                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter your male" value="@Model.Email" readonly></div>
                    <div class="col-md-12"><label class="labels">Gender</label><input type="text" class="form-control" placeholder="enter email id" value="@(user1?.Gender==null?user2.Gender:user1.Gender)" readonly></div>
                    @if(user1!=null)
                    {
                        <div class="col-md-12"><label class="labels">Date of Birth</label><input type="text" class="form-control" placeholder="Date of Birth<" value="@user1.DoB" readonly></div>
                    }
                    
                </div>
                @if(user1!=null)
                    {
                        <div class="row mt-3">
                            <div class="col-md-6"><label class="labels">Room Number</label><input type="text" class="form-control" value="@(user1?.Rooms==null?"Patient has no Room":user1.Rooms.RoomNumber)" placeholder="Room Number" readonly></div>
                        </div>
                    }
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
        @*<div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div>*@
    </div>
</div>