@model List<Hospital_System.Models.DTOs.Doctor.InDoctorDTO>

@{
    ViewData["Title"] = "Doctors in Department";
    Layout = "_AdminLayout";

}

@if (TempData["DepartmentName"] != null)
{
    <h2>
        Doctors in @TempData["DepartmentName"] department
    </h2>
}

else
{
    <h2>Doctors in Department</h2>
}
@if (Model == null || !Model.Any())
{
    <p>No doctors found in this department.</p>
}
else
{
    <table class="table mb-5 mt-5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Contact Number</th>
                <th>Speciality</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in Model)
            {
                <tr>
                    <td>@doctor.Id</td>
                    <td>@doctor.FullName</td>
                    <td>@doctor.Gender</td>
                    <td>@doctor.ContactNumber</td>
                    <td>@doctor.Speciality</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Dashboards" asp-action="EditDoctor" asp-route-Id=@doctor.Id>Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Dashboards" asp-action="DeleteDoctor" asp-route-Id=@doctor.Id>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}